html {
    background-color: #CAF0F8;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 4px;
    padding: 5px;
}

#title {
    background-color: #023E8A;
    color: white;
    padding: 10px;
}

h1 {
    font-size: 3em;
}

#nav {
    color: white;
    font-size: 145%;
    margin-top: 30px;
}

#nav a {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

#nav a:link {
    color: white;
}

#nav a:visited {
    color: white;
}

#nav a:hover {
    color: #0077B6;
}

#nav a:active {
    color: white;
}

#chelsea-logo-id {
    float: right;
}