html {
    background-color: #CAF0F8;
}

body {
    font-family: Andale Mono, monospace;
    margin: 4px;
    padding: 5px;
    border-top: 10px solid;
}

#title {
    background-color: #023E8A;
    color: white;
    padding: 10px;
}

#nav {
    color: white;
    font-size: 160%;
}

#nav a {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 10px;
}

#nav a:link {
    color: white;
}

#nav a:visited {
    color: white;
}

#nav a:hover {
    color: #0077B6;
}

#nav a:active {
    color: white;
}