html {
    background-color: #CAF0F8;
}

body {
    font-family: Andale Mono, monospace;
    margin: 4px;
    padding: 5px;
    border-top: 10px solid;
}

#title {
    background-color: #023E8A;
    color: white;
    padding: 10px;
}